<style>
    /* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(214, 89, 89);
  border-radius: 25px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(170, 65, 65);
}
</style>

<img src="./../../../assets/images/solid-3.jpg" alt="" style="position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;">

<div class="message-displayer" id="message-displayer" (scroll)="onScroll($event)">
    <div class="message" *ngFor="let message of messagesToDisplay" [className]="message.sender ? 'sent-message' : 'received-message'" [style.marginTop.px]="setTopMargin(message)" [style.paddingTop.px]="setTopMargin(message)">

        <div [className]="getMessageStyleClass(message)" #messageTemRef>
            <div class="message-text">
                {{message.message}}
            </div>
            <div class="sent_at">
                {{message.sent_at | date:'h:mm a'}}
            </div>
        </div>

        
    </div>

    {{messages.length}}
    {{currentHeight}}
    <div class="scroll-bottom" (click)="scrollDown(1)" *ngIf="false">
        <mat-icon>keyboard_arrow_down</mat-icon>
        {{getScrollHeight()}}
    </div>
</div>


<div class="input-area">
    <div class="input-actions">
        <mat-icon>tag_faces</mat-icon>
        <mat-icon>attach_file</mat-icon>

    </div>
    <textarea id="textarea-id" placeholder="Type a message" class="text-input" #textInput (keydown)="onKeyDown($event, textInput)"></textarea>
    <!-- <input type="text" class="text-input" > -->
    <div class="send-button" (click)="sendMessage(undefined, textInput)">
        <mat-icon>send</mat-icon>
    </div>
</div>
